[mysqld]
explicit_defaults_for_timestamp = true
server-id = 10
gtid-mode = on
enforce-gtid-consistency = true
sync-master-info = 1

########log settings########
#log-bin = mysql-bin
relay-log = relay-log
#binlog_format = MIXED
#binlog-checksum = CRC32
#binlog-rows-query-log_events = 1
#expire_logs_days = {{expirelogsdays}}
#log_slave_updates = on
relay-log-info-repository = TABLE

########replication settings########
master-info-repository = TABLE
master-verify-checksum = 1
slave-sql-verify-checksum = 1
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16
relay_log_info_repository=TABLE
relay_log_recovery=ON
expire_logs_days = 1

########innodb优化####
innodb_buffer_pool_size = {{innodbbuffepoolsize}}G
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT

####调优#######
#skip_name_resolve = true
max_connections = 1000

####mysql变量#####
report-port = {{MySQLPort}}
report-host = {{MasterIP}}
